banner{
  
  display:flex ;
  align-items: center;
  background-color: lightskyblue; 
}
banner img{
  height: 500px;
}
.category{
  text-align: center;
}
.ban{
  margin: 0 100px;
}
.boxes{
  display: flex;
  justify-content: space-around;
}
.feature{
  display: grid;
  grid-template-columns: 3fr 3fr;
  gap: 20px;
  margin: 20px;
  
}
.fea{
  text-align: center;
}